@use "../utilities/mixins" as *;

.add_page {
  background-color: #b9b1b1;
  @include flexcenter;
  height: 100vh;
  gap: 5rem;
}
.main_table {
  width: 100%;
  table {
    width: 100%;
    padding: 10px;
    tr {
      display: grid;
      grid-template-columns: 8% 9% 9% 8% 10% 12% 10% 9% 9% 7% 9%;
    }
    thead {
      td {
        font-size: 14px;
        font-weight: bold;
      }
    }
    tbody {
      td {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
