@use "../utilities/mixins" as *;

#simulator {
  background-color: #fff;
  @include flexcenter;
  height: 100vh;
  gap: 5rem;
  .pages {
    padding: 2rem;
    border-radius: 8px;
    @include flexcenter;
    gap: 5rem;
    height: max-content;
  }
}
