// ------------------- COLORS ---------------------//
$white: #ffffff;
$secondary-white: #F5F5F7;
$main-black: #252525;
$main-black-actived: #141522;
$main-gray: #9C9CA4;
$main-blue: #2B3651;

//----------------- PROPRIETIES -----------------//
$main-padding: 31px 30px 31px 30px;